{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Users" %}{% endblock %}

{% block content %}
<h1 class="my-4">{% trans "Users" %}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Username" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Created at" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'users:update' user.id %}" class="btn btn-primary btn-sm">{% trans "Update" %}</a>
                <a href="{% url 'users:delete' user.id %}" class="btn btn-danger btn-sm">{% trans "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
