{% extends 'layout.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<h1 class="my-4">Пользователи</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя пользователя</th>
            <th>Полное имя</th>
            <th>Дата создания</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'user_update' user.id %}" class="btn btn-primary btn-sm">Изменить</a>
                <a href="{% url 'user_delete' user.id %}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
