{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans "Delete user" %}{% endblock %}

{% block content %}
<h1>{% trans "Delete user" %}</h1>

<form method="post">
    {% csrf_token %}
    <p>{% trans "Are you sure you want to delete user" %} "{{ object.username }}"?</p>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">{% trans "Yes, delete" %}</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
    </div>
</form>
{% endblock %}
