{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
<h1>{% if object %}{% trans "Edit label" %}{% else %}{% trans "Create label" %}{% endif %}</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">
        {% if object %}{% trans "Update" %}{% else %}{% trans "Create" %}{% endif %}
    </button>
</form>
{% endblock %}
